@import "style.scss";

.tracks-list {
	display: flex;
	flex-direction: column;
	gap: var(--gap-small);
}

.track-item {
	display: flex;
	align-items: center;
	gap: var(--gap);
	padding: var(--padding-small);
	background-color: var(--highlight);
	border-radius: var(--border-radius);
	transition:
		scale var(--transition),
		background-color var(--transition);

	&:hover {
		scale: 1.01;
		background-color: var(--highlight2);
	}
}

.track-number {
	font-size: var(--font-normal);
	font-weight: var(--font-bold);
	color: var(--text-secondary);
	min-width: 30px;
	text-align: center;
}

.track-image {
	@include size(70px);
	border-radius: var(--border-radius-small);
	object-fit: cover;
}

.track-info {
	flex: 1;
	min-width: 0;
}

.track-name {
	@include text-truncate;
	@include space(0, 0 0 var(--gap-tiny) 0);
	font-size: var(--font-normal);
	font-weight: var(--font-bold);
	display: block;
}

.track-artists {
	@include text-truncate;
	color: var(--text-secondary);
	font-size: var(--font-small);
}

.track-duration {
	color: var(--text-secondary);
	font-size: var(--font-small);
}
