@import "style.scss";

.recently-played-groups {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.day-group {
	background: var(--highlight);
	border-radius: var(--border-radius);
	padding: 20px;
}

.day-header {
	font-size: var(--font-large);
	font-weight: var(--font-bold);
	color: var(--primary);
	margin-bottom: var(--gap-small);
}

.day-tracks {
	display: flex;
	flex-direction: column;
	gap: var(--gap-tiny);
}

.recent-track-item {
	display: flex;
	align-items: center;
	gap: var(--gap-small);
	padding: var(--padding-tiny);
	background-color: var(--highlight);
	border-radius: var(--border-radius);
	cursor: pointer;
	transition:
		scale var(--transition),
		background-color var(--transition);

	&:hover {
		scale: 1.01;
		background-color: var(--highlight2);
	}
}

.recent-track-item .track-image {
	@include size(50px);
	border-radius: var(--border-radius-small);
	object-fit: cover;
}

.recent-track-item .track-info {
	flex: 1;
	min-width: 0;
}

.recent-track-item .track-name {
	@include text-truncate;
	display: block;
	color: var(--text-primary);
	text-decoration: none;
	font-weight: var(--font-bold);
	margin-bottom: 4px;
}

.recent-track-item .track-artists {
	@include text-truncate;
	color: #b3b3b3;
	font-size: 0.9rem;
}

.played-time {
	@include text-truncate;
	color: var(--text-secondary);
	font-size: var(--font-small);
	font-weight: var(--font-light);
}
