@mixin default($position, $display) {
	position: $position;
	display: $display;
}

@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

@mixin space($padding: 0, $margin: 0) {
	padding: $padding;
	margin: $margin;
}

@mixin flex-center($direction: row, $gap: 0) {
	display: flex;
	flex-direction: $direction;
	justify-content: center;
	align-items: center;
	gap: $gap;
}

@mixin absolute-center($position: absolute) {
	position: $position;
	inset: 50% 50%;
	translate: -50% -50%;
}

@mixin grid-center($gap: 0) {
	display: grid;
	place-items: center;
	gap: $gap;
}

@mixin text-center($max-width: 600px) {
	text-align: center;
	margin-inline: auto;
	max-width: $max-width;
}

@mixin text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin bg-cover($url) {
	background: url($url) center/cover no-repeat;
}
