.artists-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: var(--gap);
}

.artist-card {
	background: var(--highlight);
	border-radius: var(--border-radius);
	padding: var(--padding-small);
	text-align: center;
	transition:
		translate var(--transition),
		box-shadow var(--transition);

	&:hover {
		translate: 0 -4px;
		box-shadow: var(--box-shadow);
	}
}

.artist-image {
	width: 100%;
	aspect-ratio: 1;
	border-radius: 50%;
	object-fit: cover;
	margin-bottom: var(--gap-small);
}

.artist-info {
	display: flex;
	flex-direction: column;
	gap: var(--gap-tiny);
}

.artist-name {
	font-size: var(--font-normal);
	font-weight: var(--font-bold);
	display: block;
}

.artist-genres,
.artist-followers {
	color: var(--text-secondary);
	font-size: var(--font-small);
	text-transform: capitalize;
}
