@import "style.scss";

.profile-card {
	display: flex;
	align-items: center;
	gap: var(--gap);
}

.profile-image {
	@include size(200px);
	border-radius: 50%;
	object-fit: cover;
	transition:
		scale var(--transition),
		border-radius var(--transition);

	&:hover {
		scale: 1.2;
		border-radius: var(--border-radius);
	}
}

.profile-info {
	flex: 1;
}

.profile-name {
	font-size: var(--font-giant);
	margin-bottom: var(--gap);
}

.profile-stats {
	display: flex;
	gap: var(--gap);
}

.stat {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.stat-value {
	font-size: var(--font-huge);
	font-weight: var(--font-bold);
	color: var(--primary);
}

.stat-label {
	color: var(--text-secondary);
	font-size: var(--font-small);
	text-transform: uppercase;
	letter-spacing: 1px;
}

.profile-actions {
	display: flex;
	flex-direction: column;
	gap: var(--gap-small);
}

.logout-button {
	background-color: transparent;
	color: #ff4444;
	border: 1px solid #ff4444;
	transition:
		background-color var(--transition),
		color var(--transition),
		scale var(--transition);

	&:hover {
		background-color: #ff4444;
		color: var(--text-primary);
	}
}

@media (max-width: 827px) {
	.profile-card {
		flex-direction: column;
		text-align: center;
	}

	.profile-actions {
		width: 100%;
	}
}
